<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>01</string>
		<key>title</key>
		<string>图片1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>02</string>
		<key>title</key>
		<string>图片2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>03</string>
		<key>title</key>
		<string>图片3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>04</string>
		<key>title</key>
		<string>图片4</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>05</string>
		<key>title</key>
		<string>图片5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>06</string>
		<key>title</key>
		<string>图片6</string>
	</dict>
</array>
</plist>
